@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #F3E0DC;
}

.logo {
    width: 35px;
    padding-right: 5px;
}

.blok1 {
    margin: auto;
    width: 90%;
    padding: 20px;
}


.pic {
    border-radius: 5%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pic2 {
    display: flex;
    justify-content: center;
}

.clearfix {
    overflow: auto;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 45px;
    text-align: center;
}

.vidcontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* ---- paralax -- */

.parallax {
    /* The image used */
    background-image: url("../img/culture/cult1.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---- paralax -- */


/*--- footer ---*/



.footer {
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #5C2018;
    color: #F3E0DC;
}

.footer .container:nth-child(1) {
    border-bottom: dotted 1px #F3E0DC;
}

.footer-links {
    color: #F3E0DC;
}

.footer-links:hover {
    text-decoration: underline;
}

.small {
    font-size: 85%;
}

.form-control {
    font-size: 15px;
}

label {
    display: none;
}

#logo {
    display: flex;
    min-width: 0.5rem;
}

#logo img {
    height: 40px;
    margin: 0 7px;
}

.white-icon {
    filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(238deg) brightness(99%) contrast(103%);
}
/*--- footer ends---*/

/** ---------here goes the time line ---------  **/
.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: rgba(92, 32, 24);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: rgba(92, 32, 24);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h3 {
    padding: 0;
    margin: 0;
    color: rgba(92, 32, 24);
    font-weight: 600;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(92, 32, 24);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(92, 32, 24);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

@media (max-width: 1000px) {
    .timeline {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    .timeline:before {
        left: 20px;
        height: 100%;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}

/*--    ends time line --*/


/*-- responsive starts --*/
@media screen and (max-width: 600px) {
    .pic, .pic2, .vidcontainer {
        width: 100%;
    }

    a.button5 {
        display: block;
        margin: 0.4em auto;
    }

    h2 {
        font-size: 25px;
        text-align: center;
    }

    p {
        font-size: 15px;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {

    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {


        h2 {
            font-size: 45px;
            text-align: center;
        }

        /* ---time line--   */
        .timeline {
            width: 100%;
            padding-bottom: 0;
        }

        h1 {
            font-size: 40px;
            text-align: center;
        }

        .timeline:before {
            left: 20px;
            height: 100%;
        }

        .timeline ul li:nth-child(odd),
        .timeline ul li:nth-child(even) {
            width: 100%;
            text-align: left;
            padding-left: 50px;
            padding-bottom: 50px;
        }

        .timeline ul li:nth-child(odd):before,
        .timeline ul li:nth-child(even):before {
            top: -18px;
            left: 16px;
        }

        .timeline ul li:nth-child(odd) .time,
        .timeline ul li:nth-child(even) .time {
            top: -30px;
            left: 50px;
            right: inherit;
        }
    }

}