/* general styling */

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.bg-dark {
    background-color: #5C2018 !important;
}

.bg-light {
    background-color: #F3E0DC !important;
}


/* navbar */

.navbar {
    color: #F3E0DC;
}

.logo {
    width: 35px;
    padding-right: 5px;
}

/* carousel */

.carousel-caption {
    color: #F3E0DC;
}

.carousel-text {
    background-color: rgba(0, 0, 0, 0.6) !important;
    padding: 3px 0;
    margin-bottom: 30px;
}

.carousel-text > h1 {
    font-size: 4vw;
}

.carousel-text > h3 {
    font-size: 2vw;
}

/* buttons */

.btn-primary {
    color: #F3E0DC;
    background-color: #4285F4;
    border-color: #4285F4;
}

.btn-primary:hover {
    color: #F3E0DC;
    background-color: #0946a7;
    border-color: #4285F4;
}

/* main */

@media (max-width: 576px) {
    .card {
        margin: 0 20px;
    }
}

main > .row {
    margin-bottom: 20px;
    border-bottom: dotted 1px #5C2018;
}

main > .last-row {
    border: none;
}

.about-place {
    color: #392323;
}

.card {
    color: #F3E0DC;
    background-color: #D4A59A;
}

#gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;

    bottom: 10px;
    right: 10px;
    background: #BC4639;
    color: #F3E0DC;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    opacity: 0.7;
}

/* footer */

.footer {
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #5C2018;
    color: #F3E0DC;
}

.footer .container:nth-child(1) {
    border-bottom: dotted 1px #F3E0DC;
}

.footer-links {
    color: #F3E0DC;
}

.footer-links:hover {
    text-decoration: underline;
}

.small {
    font-size: 85%;
}

.form-control {
    font-size: 15px;
}

label {
    display: none;
}

#icon {
    display: flex;
    min-width: 0.5rem;
}

#icon img {
    height: 40px;
    margin: 0 7px;
}

.white-icon {
    filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(238deg) brightness(99%) contrast(103%);
}
