.navbar {
    color: #F3E0DC;
}

.bg-dark {
    background-color: #5C2018!important;
}

.bg-light {
    background-color: #F3E0DC !important;
}

.carousel-caption {
    color: #F3E0DC;
}

.carousel-caption > p, h2 {
    background: rgba(0, 0, 0, 0.6);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.btn-primary {
    color: #F3E0DC;
    background-color: #4285F4;
    border-color: #4285F4;
}

.btn-primary:hover {
    color: #F3E0DC;
    background-color: #0946a7;
    border-color: #4285F4;
}

.row {
    margin-bottom: 20px;
    border-bottom: dotted 1px #5C2018;
}