.logo{
    width: 35px;
    padding-right: 5px;
}

body{
    background-color: #f3e0dc;
}

.card-text{
    color: #5c2018;
}

.carousel-inner{
// height: 300px;
}

h1{
    font-family:'Arizonia', cursive;
    font-size: 120px;
    color: white;
    text-shadow: 5px 5px 10px black;
}

h4{
    font-family: sans-serif;
    font-size: 40px;
    color: black;
    padding-top: 30px;
}

.how-to-navigate-text{
    font-family: sans-serif;
    font-size: 20px;
    color: #5c2018;
    padding-top: 10px;
}


